## ----- input-api
INPUT_API_HTTP_PORT=8080
INPUT_API_OTEL_SERVICE_NAME=input-api

## ----- orchestrator-api
ORCHESTRATOR_API_PORT=8081
ORCHESTRATOR_API_HOST=orchestrator-api
ORCHESTRATOR_API_SERVICE_NAME=orchestrator-api
OPEN_WEATHERMAP_API_KEY=<YOUR_API_KEY>
OPEN_TELEMETRY_COLLECTOR_EXPORTER_ENDPOINT=otel-collector:4317
